/*Definção de fontes*/

@font-face{
    font-family: "unbounded";
    src: url(../fonts/Unbounded-Bold.ttf) format("truetype");
    font-weight:700;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: "poppins";
    src: url(../fonts/Poppins-Regular.ttf) format("truetype");
    font-weight: 200;
    font-style: normal;
    font-display: swap;

}

/* Reset */
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

/* Estilo Desktop*/

body{
    background-color: #0E1014;
}
header img{
    display: block;
    margin: 75px 0 0 360px;
}
h1 span{
    color: #9747ff;
}
h1{
    text-align: center;
    margin-top: 60px;
    font-size: 64px;
    font-family: 'unbounded' , sans-serif;
    color:white;

}
p{
    text-align: center;
    font-size: 24px;
    font-family: 'poppins', helvetica;
    color: white;
    margin: 24px auto 0;
    width: 792px;  
}
a {
    text-decoration: none;
    display: block;
    font-family: 'poppins', sans-serif;
    font-size: 24px;
    background-color: #9747ff;
    color: white ;
    width: 340px; 
    height: 66px;
    text-align: center;
    line-height: 66px;
    border-radius: 36px;
    margin: 40px auto;
}
a:hover{
    background-color:#8233e8 ;
}
section img{
    display: block;
    width: px ;
    height: 446px;
    margin: 40px auto;
    
}



/*Responsividades*/


@media(max-width: 768px){

header img{
    margin: 65px 0 0 60px ;
}
p{ 
    width: 648px;
}
}

@media(max-width: 375px){

header img{
    margin: 32px 0 0 16px;
}
h1{
    font-size: 40px;
}
p{
    font-size: 20px;
    width: 340px;
} 
a{
    font-size: 20px;
    width: 251px;
}
section img{
    width: 340px;
    height: 230px;
}   

}